* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html {
    height: 100%;
}

main {
    text-align: center;
    min-height: 100%;
    display: grid;
    grid-template: 
                "aside     tienda" 1fr
                "aside     tienda" 1fr /
                1fr        5fr
}

aside {
    padding-top: 50px;
    grid-area: aside;
    background-color: rgb(221, 221, 221);
}

main {
    grid-area: tienda;
}

@media (max-width: 768px) {
    main {
        grid-template: 
            "tienda" 1fr /
            1fr
    }

    aside {
        display: none;
    }
}

ul {
    list-style-type: none;
}

h2 {
    font-size: 200%;
    font-weight: 1000;
    margin-bottom: 20px;
}

.filtro {
    background-color: white;
    margin: 5% 3%;
    border-radius: 15px;
}

h2, h4 {
    color: #30398A;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

nav ul a:hover{
    transform: scale(1.2);
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

.headerSuperior {
    height: 70px;
    border-bottom: solid 2px #30398A;
    background-color: #70E174;
}

.headerSuperior input{
    height: 30px;
    width: 500px;
    border-radius: 6px;
    border: none;
}

.headerSuperior form img{
    height: 20px;
    width: 20px;
}

.headerSuperior form button{
    height: 30px;
    width: 30px;
    border-radius: 6px;
    border: none;
}

.contenidoHeaderSuperior {
    margin: 0px 2%;
    padding-top: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .usuario {
    text-align: center;
}

header .usuario a{
    text-decoration: none;
}

#registrarse {
    display: block;
    font-size: 20px;
    color: white;
    background-color: #30398A;
    padding: 2px 6px;
    border-radius: 6px;
    border: none;
}

#entrar {
    margin-top: -6px;
    display: block;
    font-size: 20px;
    padding-top: 5px;
}

.headerSuperior .logo img {
    height: 55px;
}

.headerSuperior .carrito img {
    height: 65px;
}

.menu li{
    list-style: none;
    display: inline-block;
    text-align: center;
    padding: 0 20px;
}

.menu li a{
    text-decoration: none;
    display: block;
}

.tienda {
    margin: 0px 8%;
}

img {
    max-height: 100%;
    max-width: 100%;
    border-radius: 15px;
}

.categoria {
    margin: 30px 0px;
}

.componentes {
    display: flex;
    flex-direction: column;
}

.articulos {
    display: flex;
}

.articulos img {
    min-width: 10px;
}