* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --verde: #70E174;
    --azul: #30398A;
}

body {
    background-color: #f2f2f2;
}

/* ------------ HEADER ----------- */

header {
    display: flex;
    justify-content: space-between;
    background-color: var(--verde);
    align-items: center;
    padding: 5px 4vw;
}

/* ----- LOGO ------- */

.logo {
    width: 45px;
    height: 45px;
}

.logo img {
    height: 100%;
}

/* ----- MENU ------- */

header ul {
    display: flex;
    justify-content: space-between;
    width: 40vw;
}

header ul li {
    margin: 0 20px;
}

nav ul {
    list-style: none;
}

nav a {
    text-decoration: none;
}

@media screen and (max-width: 1080px) {
    header ul li a[href="./privacy.html"] {
        display: none;
    } 
}

/* ----- busqueda------- */

.search {
    width: 30%;
}

.search form, label {
    width: 100%;
}

.search label {
    position: relative;
}
  
.search input[type="text"] {
    padding: 8px;
    border-radius: 4px;
    border: none;
    width: 100%;
}

.search button[type="submit"] {
    margin: 6px 0 9px 6px;
    border: none;
    background-color: transparent;
    background-image: url('../images/index/lupa.png');
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    position: absolute;
    right: 0;
    width: 40px;
    height: 100%;
}

/* ----- LOGIN ------- */

.usuario {
    text-align: center;
}

a {
    text-decoration: none;
    color: var(--azul);
}

.usuario button {
    background-color: var(--azul);
    padding: 2px 4px;
    font-size: 100%;
    font-weight: 550;
    color: white;
    border: none;
    border-radius: 5px;
}

/* -------- MEDIA QUERY ----------- */

/* ------ NO SE MUESTRA SIN QUERY ------- */


.titulo-query, .burger, .user-query{
    display: none;
}

.hamburger-toggle {
    display: none;
}

.burger-label {
    display: none;
}

@media screen and (max-width: 900px) {

    header {
        display: grid;
        grid-template:  "burger         titulo      usuario" 1fr
                        "search         search      search"  1fr /
                        1fr             9fr         1fr
    }

    /* ------ NO SE MUESTRA EN QUERY ------- */

    .logo {
        display: none;
    }

    nav {
        display: none;
    }

    .usuario {
        display: none;
    }

    /* ------ menu hamburguesa ------- */  

    .burger {
        display: flex;
        height: 20px;
        grid-area: burger;
    }

    .burger-label {
        display: flex;
        grid-area: burger;
        cursor: pointer;
    }

    /* ------ titulo ------- */

    .titulo-query {
        grid-area: titulo;
        display: flex;
        justify-content: center;
        color: var(--azul);
    }

    /* ------ usuario ------- */  
    
    .user-query {
        display: flex;
        justify-content: right;
        padding-right: 5px;
        height: 20px;
        grid-area: usuario;
    }

    /* ------ busqueda ------- */

    .search{
        grid-area: search;
        margin-top: 5px;
        width: 100%;
    }

   /*  --------Funcionalidad burguer----------- */

    .hamburger-toggle:checked ~ .menu {
        display: block;
    }

    .menu {
        position: absolute;
        top: 50px; 
        left: 0;
        right: 0;
        background-color: var(--verde);
        z-index: 1;
        transform: translateY(-200%); 
        transition: transform 0.3s ease-in-out; 
    }

    .hamburger-toggle:checked ~ .menu {
        transform: translateY(0); 
    }

    .menu nav {
        display: flex;
        flex-direction: column;
    }

    .menu nav ul {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    .menu nav ul li {
        margin: 10px 0;
    }
}

/* ------- MAIN - REGISTRO --------- */

body {
    background-color: #f8f9fa;
}

main {
    margin: 0 10px;
}

main h2 {
    margin-top: 30px;
    text-align: center;
    color: var(--azul);
    font-size: 2.5em;
}

main .registro {
    background-color: white;
    border: 1px solid #e9ecef;
    border-radius: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    margin: 30px auto;
    max-width: 450px;
    padding: 20px;
    color: var(--azul);
}

main form {
    display: flex;
    flex-direction: column;
}

main input {
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 20px;
    padding: 10px;
}

main label {
    font-weight: bold;
    margin-bottom: 5px;
}

main button {
    background-color: var(--verde);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 10px;
}

main button:hover {
    background-color: #69c76c;
}

main input:focus { 
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    outline: none;
}

/* Media Queries */

@media screen and (max-width: 600px) {
    main .registro {
        margin: 10px auto;
        padding: 10px;
    }

    main input, main button {
        font-size: 14px;
        margin-bottom: 10px;
        padding: 8px;
    }

    main h2 {
        font-size: 2em;
        margin-top: 15px;
    }

    main input:focus { 
        box-shadow: none;
        outline: none;
    }
}

.privacy {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.privacy input[type="checkbox"] {
    margin-right: 5px;
}

.privacy a {
    color: var(--azul);
    text-decoration: none;
}

.privacy a:hover {
    text-decoration: underline;
}