* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

h2 {
    font-size: 200%;
    font-weight: 1000;
    margin-bottom: 20px;
}

h2, h4 {
    color: #30398A;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

nav ul a:hover{
    transform: scale(1.2);
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

.headerSuperior {
    height: 70px;
    border-bottom: solid 2px #30398A;
    background-color: #70E174;
}

.headerSuperior input{
    height: 30px;
    width: 500px;
    border-radius: 6px;
    border: none;
}

.headerSuperior form img{
    height: 20px;
    width: 20px;
}

.headerSuperior form button{
    height: 30px;
    width: 30px;
    border-radius: 6px;
    border: none;
}

.contenidoHeaderSuperior {
    margin: 0px 2%;
    padding-top: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .usuario {
    text-align: center;
}

header .usuario a{
    text-decoration: none;
}

#registrarse {
    display: block;
    font-size: 20px;
    color: white;
    background-color: #30398A;
    padding: 2px 6px;
    border-radius: 6px;
    border: none;
}

#entrar {
    margin-top: -6px;
    display: block;
    font-size: 20px;
    padding-top: 5px;
}

.headerSuperior .logo img {
    height: 55px;
}

.headerSuperior .carrito img {
    height: 65px;
}

.menu li{
    list-style: none;
    display: inline-block;
    text-align: center;
    padding: 0 20px;
}

.menu li a{
    text-decoration: none;
    display: block;
}

.general {
    margin: 0px 8%;
}

#all{
    margin-top: 2.5%;
    text-align: center;
}

#espaciador-titulo{
    margin: 1%;
}

#text-log-in{
    font-size: 55px;
    color: #30398A;
}

#down-part ul{
    list-style: none;
}

.boxes{
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    border: #70E174 solid;
    border-radius: 15px;
    width: 26.1%;
}

#button-log-in{
    background: #70E174;
    border: #70E174;
    width: 26.5%;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 50px;
    border-radius: 15px;
}

#espaciador-footer{
    margin: 3.9%;
}

footer{
    background: black;
    position: absolute;
    width: 100%;
}

#img-footer{
    float: left;
    width: 17%;
    margin: 0.6% 0.6%;
}

.text-footer{
    margin-top: 0.7%;
    text-decoration: none;
    color: white;
    float: left;
    line-height: 6;
    width: 17%;
}